@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

$color-principal: #f16e55ff;
$color-secundario: #fbf7f7ff;
$font: 'Work Sans', sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

@media screen and (max-width: 320px) { // Telefonos chiquititos
    
    header {
        width: 100%;
        display: flex;
        background-color: $color-principal;
        height: 4rem;
        align-items: center;
    
        h1 {
            color: $color-secundario;
            font-family: $font;
            margin-left: 2rem;
            font-size: 1.8rem;
        }
    
        nav {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            justify-content: right;
    
            a {
                display: none;
            }
    
            i {
                color: $color-secundario;
                font-size: 2.5rem;
                margin-right: 2rem;
            }
        }
    }
}

@media screen and (min-width: 321px) and (max-width: 375px) { // Telefonos chicos

    header {
        width: 100%;
        display: flex;
        background-color: $color-principal;
        height: 4rem;
        align-items: center;
    
        h1 {
            color: $color-secundario;
            font-family: $font;
            margin-left: 2.5rem;
            font-size: 1.8rem;
        }
    
        nav {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            width: 100%;
            justify-content: right;
    
            a {
                display: none;
            }
    
            i {
                color: $color-secundario;
                font-size: 2.5rem;
                margin-right: 2.5rem;
            }
        }
    }
    
}

@media screen and (min-width: 376px) and (max-width: 425px) { // Telefonos Normales

    header {
        width: 100%;
        display: flex;
        background-color: $color-principal;
        height: 4rem;
        align-items: center;
    
        h1 {
            color: $color-secundario;
            font-family: $font;
            margin-left: 2.5rem;
            font-size: 1.8rem;
        }
    
        nav {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            justify-content: right;
            width: 100%;
    
            a {
                display: none;
            }
    
            i {
                color: $color-secundario;
                font-size: 2.5rem;
                margin-right: 2.5rem;
            }
        }
    }
    
}

@media screen and (min-width: 426px) and (max-width: 768px) { // Telefonos Grandes

    header {
        width: 100%;
        display: flex;
        background-color: $color-principal;
        height: 6rem;
        align-items: center;
    
        h1 {
            color: $color-secundario;
            font-family: $font;
            margin-left: 2.5rem;
            font-size: 2.2rem;
        }
    
        nav {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            width: 100%;
    
            a {
                display: flex;
                color: $color-secundario;
                font-family: $font;
                text-decoration: none;
                margin-left: 2rem;
                margin-right: 2rem;
            }
    
            i {
                display: none;
            }
        }
    }
    
}

@media screen and (min-width: 769px) and (max-width: 1024px) { // Tablets

    header {
        width: 100%;
        display: flex;
        background-color: $color-principal;
        height: 6rem;
        align-items: center;
    
        h1 {
            color: $color-secundario;
            font-family: $font;
            margin-left: 4rem;
            font-size: 2.5rem;
        }
    
        nav {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            width: 100%;
    
            a {
                display: flex;
                color: $color-secundario;
                font-family: $font;
                text-decoration: none;
                margin-left: 2rem;
                margin-right: 2rem;
                font-size: 1.4rem;
            }
    
            i {
                display: none;
            }
        }
    }
    
}

@media screen and (min-width: 1025px) and (max-width: 1440px) { // PCs

    header {
        width: 100%;
        display: flex;
        background-color: $color-principal;
        height: 5rem;
        align-items: center;
    
        h1 {
            color: $color-secundario;
            font-family: $font;
            margin-left: 6rem;
            font-size: 2rem;
        }
    
        nav {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            width: 100%;
    
            a {
                display: flex;
                color: $color-secundario;
                font-family: $font;
                text-decoration: none;
                margin-left: 2rem;
                margin-right: 2rem;
                font-size: 1.2rem;
            }
    
            i {
                display: none;
            }
        }
    }
    
}

@media screen and (min-width: 1441px) { // PCs grandes 4K

    header {
        width: 100%;
        display: flex;
        background-color: $color-principal;
        height: 12rem;
        align-items: center;
    
        h1 {
            color: $color-secundario;
            font-family: $font;
            margin-left: 10rem;
            font-size: 5rem;
        }
    
        nav {
            display: flex;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
            width: 100%;
    
            a {
                display: flex;
                color: $color-secundario;
                font-family: $font;
                text-decoration: none;
                margin-left: 5rem;
                margin-right: 5rem;
                font-size: 3.3rem;
            }
    
            i {
                display: none;
            }
        }
    }
    
}

header {
    nav {
        a {
            transition: all ease-in-out 200ms;
            &:hover {
                cursor: pointer;
                transition: all ease-in-out 200ms;
                transform: scale(1.05);
            }
        }
    }
}