@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

@media screen and (max-width: 320px) {
  header {
    width: 100%;
    background-color: transparent;
    display: flex;
    height: 6rem;
    align-items: center;
  }
  header h1 {
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    margin-left: 2rem;
    font-size: 1.1rem;
    text-wrap: nowrap;
  }
  header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: right;
  }
  header nav a {
    display: none;
  }
  header nav i {
    color: rgb(53, 63, 66);
    font-size: 2.5rem;
    margin-right: 2rem;
  }
  #sobremi {
    margin-top: 3rem;
  }
  #sobremi #meencanta {
    display: none;
  }
  #sobremi #actualmente {
    display: none;
  }
  #sobremi h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.3rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1.6rem;
  }
  #sobremi h1 b {
    color: rgb(27, 172, 234);
  }
  #sobremi p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
  #sobremi p b {
    font-weight: 500;
    color: rgb(27, 172, 234);
    font-style: italic;
  }
  #tecnologias {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #tecnologias h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  #tecnologias p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
  #tecnologias .tecnologias-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 2rem;
  }
  #tecnologias .tecnologia {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 75%;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgb(221, 209, 209);
    margin-top: 1rem;
  }
  #tecnologias .tecnologia img {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
  }
  #tecnologias .tecnologia #sass_logo {
    filter: brightness(0);
  }
  #tecnologias .tecnologia p {
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 1rem;
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
    color: rgb(86, 78, 78);
    font-weight: 500;
  }
  #tecnologias .tecnologia h4 {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  #proyectos {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #proyectos h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  #proyectos p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
}
@media screen and (min-width: 321px) and (max-width: 375px) {
  header {
    width: 100%;
    background-color: transparent;
    display: flex;
    height: 6rem;
    align-items: center;
  }
  header h1 {
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    margin-left: 2rem;
    font-size: 1.1rem;
    text-wrap: nowrap;
  }
  header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: right;
  }
  header nav a {
    display: none;
  }
  header nav i {
    color: rgb(53, 63, 66);
    font-size: 2.5rem;
    margin-right: 2rem;
  }
  #sobremi {
    margin-top: 2rem;
  }
  #sobremi #meencanta {
    display: none;
  }
  #sobremi #actualmente {
    display: flex;
    flex-direction: column;
  }
  #sobremi #actualmente a {
    color: rgb(27, 172, 234);
    padding-top: 1rem;
  }
  #sobremi h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.5rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1.6rem;
  }
  #sobremi h1 b {
    color: rgb(27, 172, 234);
  }
  #sobremi p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
  #sobremi p b {
    font-weight: 500;
    color: rgb(27, 172, 234);
    font-style: italic;
  }
  #tecnologias {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #tecnologias h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  #tecnologias p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
  #tecnologias .tecnologias-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 2rem;
  }
  #tecnologias .tecnologia {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 75%;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgb(221, 209, 209);
    margin-top: 1rem;
  }
  #tecnologias .tecnologia img {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
  }
  #tecnologias .tecnologia #sass_logo {
    filter: brightness(0);
  }
  #tecnologias .tecnologia p {
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 1rem;
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
    color: rgb(86, 78, 78);
    font-weight: 500;
  }
  #tecnologias .tecnologia h4 {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  #proyectos {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #proyectos h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  #proyectos p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
}
@media screen and (min-width: 376px) and (max-width: 425px) {
  header {
    width: 100%;
    background-color: transparent;
    display: flex;
    height: 6rem;
    align-items: center;
  }
  header h1 {
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    margin-left: 2rem;
    font-size: 1.1rem;
    text-wrap: nowrap;
  }
  header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: right;
  }
  header nav a {
    display: none;
  }
  header nav i {
    color: rgb(53, 63, 66);
    font-size: 2.5rem;
    margin-right: 2rem;
  }
  #sobremi {
    margin-top: 2.2rem;
  }
  #sobremi #meencanta {
    display: none;
  }
  #sobremi #actualmente {
    display: flex;
    flex-direction: column;
  }
  #sobremi #actualmente a {
    color: rgb(27, 172, 234);
    padding-top: 1rem;
  }
  #sobremi h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.7rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1.6rem;
  }
  #sobremi h1 b {
    color: rgb(27, 172, 234);
  }
  #sobremi p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
  #sobremi p b {
    font-weight: 500;
    color: rgb(27, 172, 234);
    font-style: italic;
  }
  #tecnologias {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #tecnologias h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  #tecnologias p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
  #tecnologias .tecnologias-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 2rem;
  }
  #tecnologias .tecnologia {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 75%;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgb(221, 209, 209);
    margin-top: 1rem;
  }
  #tecnologias .tecnologia img {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
  }
  #tecnologias .tecnologia #sass_logo {
    filter: brightness(0);
  }
  #tecnologias .tecnologia p {
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 1rem;
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
    color: rgb(86, 78, 78);
    font-weight: 500;
  }
  #tecnologias .tecnologia h4 {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  #proyectos {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #proyectos h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  #proyectos p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
}
@media screen and (min-width: 426px) and (max-width: 768px) {
  header {
    width: 100%;
    background-color: transparent;
    display: flex;
    height: 6rem;
    align-items: center;
  }
  header h1 {
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    margin-left: 2rem;
    font-size: 1.1rem;
    text-wrap: nowrap;
  }
  header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: right;
    padding-right: 2rem;
  }
  header nav a {
    display: flex;
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
  }
  header nav i {
    display: none;
  }
  #sobremi {
    margin-top: 4rem;
  }
  #sobremi #meencanta {
    display: flex;
  }
  #sobremi #meencanta b {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  #sobremi #actualmente {
    display: flex;
    flex-direction: column;
  }
  #sobremi #actualmente a {
    color: rgb(27, 172, 234);
    padding-top: 1rem;
  }
  #sobremi h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 1.9rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1.6rem;
  }
  #sobremi h1 b {
    color: rgb(27, 172, 234);
  }
  #sobremi p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.95rem;
    padding-top: 1.3rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    text-align: left;
  }
  #sobremi p b {
    font-weight: 500;
    color: rgb(27, 172, 234);
    font-style: italic;
  }
  #tecnologias {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #tecnologias h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }
  #tecnologias p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center;
  }
  #tecnologias .tecnologias-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 2rem;
  }
  #tecnologias .tecnologia {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 75%;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgb(221, 209, 209);
    margin-top: 1rem;
  }
  #tecnologias .tecnologia img {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
  }
  #tecnologias .tecnologia #sass_logo {
    filter: brightness(0);
  }
  #tecnologias .tecnologia p {
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 1rem;
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 3rem;
    color: rgb(86, 78, 78);
    font-weight: 500;
  }
  #tecnologias .tecnologia h4 {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  #proyectos {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #proyectos h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  #proyectos p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    width: 100%;
    background-color: transparent;
    display: flex;
    height: 6rem;
    align-items: center;
  }
  header h1 {
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    margin-left: 2rem;
    font-size: 1.1rem;
    text-wrap: nowrap;
  }
  header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: right;
    padding-right: 2rem;
  }
  header nav a {
    display: flex;
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
  }
  header nav i {
    display: none;
  }
  #sobremi {
    margin-top: 4rem;
  }
  #sobremi #meencanta {
    display: flex;
  }
  #sobremi #meencanta b {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
  }
  #sobremi #actualmente {
    display: flex;
    flex-direction: column;
  }
  #sobremi #actualmente a {
    color: rgb(27, 172, 234);
    padding-top: 1rem;
  }
  #sobremi h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 2.4rem;
    text-align: left;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-left: 1.6rem;
  }
  #sobremi h1 b {
    color: rgb(27, 172, 234);
  }
  #sobremi p {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    padding-top: 1.3rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 1rem;
    text-align: left;
  }
  #sobremi p b {
    font-weight: 500;
    color: rgb(27, 172, 234);
    font-style: italic;
  }
  #tecnologias {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #tecnologias h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }
  #tecnologias p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center;
  }
  #tecnologias .tecnologias-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 2rem;
  }
  #tecnologias .tecnologia {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 75%;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgb(221, 209, 209);
    margin-top: 1rem;
  }
  #tecnologias .tecnologia img {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
  }
  #tecnologias .tecnologia #sass_logo {
    filter: brightness(0);
  }
  #tecnologias .tecnologia p {
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 1rem;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    padding-bottom: 3rem;
    color: rgb(86, 78, 78);
    font-weight: 500;
  }
  #tecnologias .tecnologia h4 {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  #proyectos {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #proyectos h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  #proyectos p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1440px) {
  header {
    width: 100%;
    background-color: transparent;
    display: flex;
    height: 6rem;
    align-items: center;
  }
  header h1 {
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    margin-left: 2rem;
    font-size: 1.1rem;
    text-wrap: nowrap;
  }
  header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: right;
    padding-right: 2rem;
  }
  header nav a {
    display: flex;
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
  }
  header nav i {
    display: none;
  }
  .linea {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(53, 63, 66);
    height: 0.005rem;
    opacity: 0.3;
  }
  #sobremi {
    margin-top: 8rem;
  }
  #sobremi #meencanta b {
    padding-left: 0.2rem;
    padding-right: 0.4rem;
  }
  #sobremi #actualmente {
    display: flex;
    flex-direction: column;
  }
  #sobremi #actualmente a {
    color: rgb(27, 172, 234);
    padding-top: 1rem;
  }
  #sobremi h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 2.1rem;
    text-align: center;
    padding-left: 15rem;
    padding-right: 15rem;
    margin-left: 1.6rem;
  }
  #sobremi h1 b {
    color: rgb(27, 172, 234);
  }
  #sobremi p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1.3rem;
    margin-left: 1.6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
  }
  #sobremi p b {
    font-weight: 500;
    color: rgb(27, 172, 234);
    font-style: italic;
  }
  #tecnologias {
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
  }
  #tecnologias h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
  }
  #tecnologias p {
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    justify-content: center;
  }
  #tecnologias .tecnologias-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: 2rem;
  }
  #tecnologias .tecnologia {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    width: 75%;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 2px 2px 10px rgb(221, 209, 209);
    margin-top: 1rem;
    transition: all ease-in-out 250ms;
  }
  #tecnologias .tecnologia img {
    width: 4.5rem;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
  }
  #tecnologias .tecnologia #sass_logo {
    filter: brightness(0);
  }
  #tecnologias .tecnologia p {
    margin: 0;
    padding: 0;
    display: flex;
    padding-top: 1rem;
    text-align: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    font-size: 1rem;
    padding-bottom: 3rem;
    color: rgb(86, 78, 78);
    font-weight: 500;
  }
  #tecnologias .tecnologia h4 {
    font-family: "Work Sans", sans-serif;
    display: flex;
    justify-content: center;
    padding-top: 1rem;
  }
  #tecnologias .tecnologia:hover {
    cursor: pointer;
    transition: all ease-in-out 250ms;
    transform: scale(1.05);
  }
  #proyectos {
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
  }
  #proyectos h2 {
    font-family: "Work Sans", sans-serif;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    margin-top: 4rem;
  }
  #proyectos p {
    font-family: "Work Sans", sans-serif;
    font-size: 0.9rem;
    padding-top: 1rem;
    margin-left: 1.6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: left;
  }
}
@media screen and (min-width: 1441px) {
  header {
    width: 100%;
    background-color: transparent;
    display: flex;
    height: 6rem;
    align-items: center;
  }
  header h1 {
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    margin-left: 2rem;
    font-size: 1.1rem;
    text-wrap: nowrap;
  }
  header nav {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    justify-content: right;
    padding-right: 2rem;
  }
  header nav a {
    display: flex;
    color: rgb(53, 63, 66);
    font-family: "Work Sans", sans-serif;
    text-decoration: none;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
  }
  header nav i {
    display: none;
  }
  #sobremi {
    margin-top: 9rem;
  }
  #sobremi #meencanta b {
    padding-left: 0.2rem;
    padding-right: 0.4rem;
  }
  #sobremi #actualmente {
    display: flex;
    flex-direction: column;
  }
  #sobremi #actualmente a {
    color: rgb(27, 172, 234);
    padding-top: 1rem;
  }
  #sobremi h1 {
    font-family: "Work Sans", sans-serif;
    font-size: 2.1rem;
    text-align: center;
    padding-left: 15rem;
    padding-right: 15rem;
    margin-left: 1.6rem;
  }
  #sobremi h1 b {
    color: rgb(27, 172, 234);
  }
  #sobremi p {
    font-family: "Work Sans", sans-serif;
    font-size: 1rem;
    padding-top: 1.3rem;
    margin-left: 1.6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    text-align: center;
  }
  #sobremi p b {
    font-weight: 500;
    color: rgb(27, 172, 234);
    font-style: italic;
  }
}
header nav a {
  transition: all ease-in-out 200ms;
}
header nav a:hover {
  cursor: pointer;
  transition: all ease-in-out 200ms;
  transform: scale(1.05);
}

/*# sourceMappingURL=styles.css.map */
